<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upuphub.dew.community.push.dao.MailTemplateDao">
    <select id="fetchMailTemplateByTemplateCode"
            resultType="com.upuphub.dew.community.push.bean.po.MailTemplatePO">
        select code, template, sender, `from`, subject, type, tag, version, status
        from mail_template
        where code = #{templateCode}
        limit 1

    </select>
</mapper>