<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upuphub.dew.community.moments.dao.MomentsPublishMomentsPublishDao">
    <resultMap id="BaseResultMap" type="com.upuphub.dew.community.moments.bean.po.MomentsPublishPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="geo_hash" jdbcType="VARCHAR" property="geoHash"/>
        <result column="classify" jdbcType="INTEGER" property="classify"/>
        <result column="topic" jdbcType="VARCHAR" property="topic"/>
        <result column="dynamic_id" jdbcType="BIGINT" property="dynamicId"/>
        <result column="publish_by" jdbcType="BIGINT" property="publishBy"/>
        <result column="publish_time" jdbcType="BIGINT" property="publishTime"/>
        <result column="publish_type" jdbcType="CHAR" property="publishType"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="publish_status" jdbcType="INTEGER" property="publishStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, geo_hash, classify,topic, dynamic_id, publish_by, publish_time, publish_type, longitude,latitude, update_time, publish_status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from moments_publish
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectMomentPublishRecordByLocation"
            resultType="com.upuphub.dew.community.moments.bean.po.MomentsPublishPO">
        select
        <include refid="Base_Column_List"/>
        from moments_publish
        <where>
            <if test="rangeGeoHash != null and rangeGeoHash != ''">
                geo_hash like #{rangeGeoHash}
            </if>
        </where>
        order by update_time desc
    </select>
    <select id="selectMomentPublishRecordByUin"
            resultType="com.upuphub.dew.community.moments.bean.po.MomentsPublishPO">
        select
        <include refid="Base_Column_List"/>
        from moments_publish
        where publish_by = #{uin}
        order by update_time desc
    </select>

    <select id="selectMomentPublishRecordByClassify"
            resultType="com.upuphub.dew.community.moments.bean.po.MomentsPublishPO">
        select
        <include refid="Base_Column_List"/>
        from moments_publish
        where classify = #{classify}
        order by update_time desc
    </select>

    <select id="selectMomentPublishRecordByTopic"
            resultType="com.upuphub.dew.community.moments.bean.po.MomentsPublishPO">
        select
        <include refid="Base_Column_List"/>
        from moments_publish
        where topic = #{topic}
        order by update_time desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from moments_publish
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertMomentsPublishRecord">
        insert into moments_publish (geo_hash, classify, topic, dynamic_id,
                                     publish_by, publish_time, publish_type,
                                     longitude, latitude, update_time,
                                     publish_status)
        values (#{momentPublishPO.geoHash,jdbcType=VARCHAR}, #{momentPublishPO.classify,jdbcType=INTEGER},
                #{momentPublishPO.topic,jdbcType=VARCHAR}, #{momentPublishPO.dynamicId,jdbcType=BIGINT},
                #{momentPublishPO.publishBy,jdbcType=BIGINT}, #{momentPublishPO.publishTime,jdbcType=BIGINT},
                #{momentPublishPO.publishType,jdbcType=CHAR},
                #{momentPublishPO.longitude,jdbcType=DOUBLE}, #{momentPublishPO.latitude,jdbcType=DOUBLE},
                #{momentPublishPO.updateTime,jdbcType=BIGINT},
                #{momentPublishPO.publishStatus,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.upuphub.dew.community.moments.bean.po.MomentsPublishPO"
            useGeneratedKeys="true">
        insert into moments_publish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="geoHash != null">
                geoHash,
            </if>
            <if test="classify != null">
                classify,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="dynamicId != null">
                dynamic_id,
            </if>
            <if test="publishBy != null">
                publish_by,
            </if>
            <if test="publishTime != null">
                publish_time,
            </if>
            <if test="publishType != null">
                publish_type,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="publishStatus != null">
                publish_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="geoHash != null">
                #{geoHash,jdbcType=VARCHAR},
            </if>
            <if test="classify != null">
                #{classify,jdbcType=INTEGER},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="dynamicId != null">
                #{dynamicId,jdbcType=BIGINT},
            </if>
            <if test="publishBy != null">
                #{publishBy,jdbcType=BIGINT},
            </if>
            <if test="publishTime != null">
                #{publishTime,jdbcType=BIGINT},
            </if>
            <if test="publishType != null">
                #{publishType,jdbcType=CHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=DOUBLE},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="publishStatus != null">
                #{publishStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.upuphub.dew.community.moments.bean.po.MomentsPublishPO">
        update moments_publish
        <set>
            <if test="geoHash != null">
                geoHash = #{geoHash,jdbcType=VARCHAR},
            </if>
            <if test="classify != null">
                classify = #{classify,jdbcType=INTEGER},
            </if>
            <if test="topic != null">
                topic = #{classify,jdbcType=VARCHAR},
            </if>
            <if test="dynamicId != null">
                dynamic_id = #{dynamicId,jdbcType=BIGINT},
            </if>
            <if test="publishBy != null">
                publish_by = #{publishBy,jdbcType=BIGINT},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=BIGINT},
            </if>
            <if test="publishType != null">
                publish_type = #{publishType,jdbcType=CHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null">

                latitude = #{latitude,jdbcType=DOUBLE},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="publishStatus != null">
                publish_status = #{publishStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.upuphub.dew.community.moments.bean.po.MomentsPublishPO">
        update moments_publish
        set geo_hash       = #{geoHash,jdbcType=VARCHAR},
            classify       = #{classify,jdbcType=INTEGER},
            topic          = #{topic,jdbcType=VARCHAR},
            dynamic_id     = #{dynamicId,jdbcType=BIGINT},
            publish_by     = #{publishBy,jdbcType=BIGINT},
            publish_time   = #{publishTime,jdbcType=BIGINT},
            publish_type   = #{publishType,jdbcType=CHAR},
            longitude      = #{longitude,jdbcType=DOUBLE},
            latitude       = #{latitude,jdbcType=DOUBLE},
            update_time    = #{updateTime,jdbcType=BIGINT},
            publish_status = #{publishStatus,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>