<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upuphub.dew.community.machine.api.dao.GarbageClassSearchDao">

    <select id="selectGarbageClassByLikeSearchKey" resultType="com.upuphub.dew.community.machine.api.bean.po.GarbageClassSearchPO">
        select name, sortId
        from dew_garbage_search
        where name like concat('%', #{searchKey}, '%');
    </select>

    <select id="selectGarbageCategoriesByNum" resultType="com.upuphub.dew.community.machine.api.bean.po.GarbageCategoriesPO">
        select id,
               color,
               bg_color,
               img,
               name,
               content,
               description,
               action
        from dew_garbage_categories
        where id = #{classNum}
        limit 1
    </select>
    <insert id="saveIpTrack">
        insert into dew_common.dew_track_ip(ip,create_time) values (#{ipAddr},UNIX_TIMESTAMP(now()))
    </insert>
</mapper>